<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OnePlant</title>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>

    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"-->
            <!--integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--<script type=text/javascript src="{{ url_for('static', filename='googleCharts.js') }}"></script>-->


    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!--<script type=text/javascript src="../static/js/main.js"></script>-->
</head>
<body>


</body>

</html>